build/lib/plntxps
plntxps.egg-info
tests/fermi_edge_linfit.png
tests/fermi_edge_linfit.svg
tests/fermi_edge_seconddir.png
tests/fermi_edge_seconddir.svg
tests/.ipynb_checkpoints
tests/example data/.ipynb_checkpoints/Experiment 2025-1-24 SA 450-checkpoint.xy
tests/.virtual_documents/regex_scratch_paper.ipynb
.virtual_documents/tests/regex_scratch_paper.ipynb
tests/.virtual_documents/plnt_xps testing environment.ipynb
